body {
	background-color: #333333;
	color: #000000;
	font-family: "PT Sans", sans;
	font-size: 14pt;
	line-height: 1.5;
	margin: 0;
	text-align: justify;
}

#header {
	z-index: 98;
	background-color: #000000;
	box-sizing: border-box;
	color: #ffffff;
	height: 75px;
	overflow: hidden;
	position: fixed;
	width: 100%;
}

.navigation {
	z-index: 98;
	background-color: #222222;
	box-sizing: border-box;
	color: #ffffff;
	height: 40px;
	overflow: hidden;
	position: fixed;
	width: 100%;
	padding: 0 40px;
	line-height: 40px;
	font-size: 10pt;
	font-weight: 100;
	text-transform: uppercase;
}

#logo {
	font-family: "PT Sans", sans;
	font-size: 12pt;
	font-weight: 700;
	letter-spacing: 2px;
	line-height: 54px;
	padding: 10px 40px;
	text-align: left;
	text-transform: uppercase;
	vertical-align: middle;
}

#logo img {
	height: 54px;
	vertical-align: middle;
}

#tripSum {
	background-color: green;
	box-sizing: border-box;
	cursor: pointer;
	font-size: 25px;
	font-weight: 700;
	height: 75px;
	line-height: 75px;
	text-align: center;
}

#tripSum small {
	font-size: 20px;
}

#logout {
	cursor: pointer;
	font-size: 20px;
	line-height: 75px;
	text-align: center;
}

#logout a {
	color: #ffffff;
	text-decoration: none;
}

#wrap {
	z-index: 50;
	left: 0px;
	position: absolute;
	top: 75px;
}

#userInteraction {
	position: absolute;
	background-color: #333333;
	box-sizing: border-box;
	color: #ffffff;
	left: 0;
	min-height: 100%;
	padding: 20px 40px;
	top: 0px;
	width: 100vw;
}

#uiContentWrap {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: auto;
}

#ui {
	background-color: #333333;
	min-height: 100%;
}

#uiContent,
#tripSumDetails {
	z-index: 100;
	box-sizing: border-box;
	background-color: #ffffff;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 15px 40px;
	width: 100vw;
}

#uiContent {
	min-height: 300px;
}

#tripSumDetails .th {
	font-weight: 700;
}

#tripSumDetails .row {
	border-bottom: 1px #666666 solid;
	font-family: monospace;
	font-size: 10pt;
}

#tripTitle {
	margin: 0 0 15px 0;
	height: 100px;
	cursor: pointer;
}

.tripName {
	background-color: #ffffff;
	color: #000000;
	font-size: 16pt;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 20px 20px;
	text-align: center;
}

.tripDates1 {
	float: left;
	border: 1px #ffffff solid;
	border-top: 0;
	border-right: 0;
	box-sizing: border-box;
	font-size: 8pt;
	font-weight: 100;
	padding: 5px 20px;
	text-align: center;
	width: 50%;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.tripDates2 {
	float: right;
	border: 1px #ffffff solid;
	border-top: 0;
	box-sizing: border-box;
	font-size: 8pt;
	font-weight: 100;
	padding: 5px 20px;
	text-align: center;
	width: 50%;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#filterItems {
	margin: 15px 0 50px 0;
	height: 50px;
}

.filterItemFirst {
	box-sizing: border-box;
	float: left;
	background-color: #ffffff;
	border: 1px #ffffff solid;
	color: #000000;
	cursor: pointer;
	font-size: 16pt;
	padding: 5px 0;
	text-align: center;
	width: 45px;
}

.filterItem {
	box-sizing: border-box;
	float: left;
	background-color: #ffffff;
	border: 1px #ffffff solid;
	border-left: 0;
	color: #000000;
	cursor: pointer;
	font-size: 16pt;
	padding: 5px 0;
	text-align: center;
	width: 45px;
}

.filterItemSpacer {
	box-sizing: border-box;
	border: 1px #ffffff solid;
	border-left: 0;
	border-right: 0;
	float: left;
	font-size: 16pt;
	padding: 5px 0;
	text-align: center;
}


.filterItemLast {
	float: right;
	box-sizing: border-box;
	border: 1px #ffffff solid;
	cursor: pointer;
	font-size: 16pt;
	padding: 5px 0;
	text-align: center;
	width: 45px;
}

#addElement {
	border: 1px #ffffff solid;
	border-right: 0;
	background-color: #333333;
	color: #ffffff;
	cursor: pointer;
	font-size: 16pt;
	padding: 5px 0;
	text-align: center;
	width: 45px;
}

.filterItemFirst:hover,
.filterItem:hover,
.filterItemLast:hover {
	background-color: #efefef;
	color: #333333;
}

.elements div {
	box-sizing: border-box;
	background-color: #ffffff;
	color: #000000;
	font-size: 12pt;
	line-height: 1.5;
	margin-top: 10px;
	padding: 5px 10px;
	text-align: center;
	width: 100%;
	cursor: pointer;
}

.elements strong {
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.elements .addr {
	color: #666666;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 8pt;
}

.elements .itemIcon {
	float: left;
	background-color: #efefef;
	color: #333333;
	border: 0;
	margin: -7px 0 0 -12px;
	width: 75px;
	height: 30px;
}

.elements .car {
	background-color: #333333;
	color: #999999;
}

#credits {
	font-size: 8pt;
	color: #efefef;
}

#credits a {
	color: #efefef;
}

.elements .date {
	color: #ffffff;
	font-size: 10pt;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 2px;
	margin: 30px 0 5px 0;
	border: 0;
	background-color: #333333;
	cursor: default;
}

#notif {
	z-index: 99;
	position: fixed;
	bottom: 40px;
	right: 40px;
	font-size: 12pt;
	width: 250px;
	height: auto;
	background-color: #ffffff;
	opacity: 0.9;
	padding: 10px 25px;
	border: 1px #c0c0c0 solid;
}

#elementDetail {
	z-index: 90;
	position: absolute;
	box-sizing: border-box;
	top: 75px;
	left: 0;
	font-size: 12pt;
	width: 100vw;
	background-color: #ffffff;
	padding: 10px 40px;
	border: 1px #c0c0c0 solid;
	overflow: scroll;
	border-bottom: 3px #000000 solid;
	padding-bottom: 100px;
}

.heading {
	color: #000000;
	font-size: 16pt;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
}

#shadow {
	z-index: 85;
	background-color: #000000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.85;
}

input {
	width: 100%;
	box-sizing: border-box;
	background-color: #ffffff;
	border: 1px #000000 solid;
	font-size: 16pt;
	font-family: 'PT Sans', sans;
	padding: 10px 25px;
	text-align: center;
}

select,
option {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	height: 50px;
	border-radius: 0;
	box-sizing: border-box;
	background-color: #ffffff;
	border: 1px #000000 solid;
	font-size: 16pt;
	font-family: 'PT Sans', sans;
	padding: 10px 25px;
	text-align: center;
}

.btn {
	background-color: #000000;
	color: #ffffff;
	border: 3px #ffffff double;
	cursor: pointer;
}

.btn:hover,
.inactive {
	background-color: #ffffff;
	color: #000000;
	border: 3px #000000 double;
}

.btnWhite {
	background-color: #ffffff;
	color: #000000;
	border: 3px #000000 double;
	cursor: pointer;
}

.btnWhite:hover {
	background-color: #000000;
	color: #ffffff;
	border: 3px #ffffff double;
}

button {
	padding: 10px 25px;
}

button i {
	font-size: 25pt;
}

input:focus {
	outline: none;
}

.apptSayYes {
	background-color: #009900; 
	color: #ffffff; 
	padding: 5px 20px; 
	border: 3px #000000 double;
	text-align: center;
	font-size: 10pt;
	margin-bottom: 5px;
}

.apptSayNo {
	background-color: #990000; 
	color: #ffffff; 
	padding: 5px 20px; 
	border: 3px #000000 double;
	text-align: center;
	font-size: 10pt;
	margin-bottom: 5px;
}

.apptSayWait {
	background-color: #ffffff; 
	color: #000000; 
	padding: 5px 20px; 
	border: 3px #000000 double;
	text-align: center;
	font-size: 10pt;
	margin-bottom: 5px;
}

.thenexttripgoesto {
	width: 100%;
	box-sizing: border-box;
	background-color: #ffffff;
	border: 1px #000000 solid;
	font-size: 24pt;
	font-family: 'PT Sans', sans;
	padding: 10px 25px;
	text-align: center;
}

#languages {
	font-size: 12pt;
	padding: 15px 0px;
}

#languages a {
	text-decoration: none;
	background-color: #ffffff;
	color: #000000;
	padding: 5px 10px;
}

#languages a:hover {
	background-color: #c0c0c0;
}

.btnDelete {
	font-size: 10pt;
	color: #cc0000;
	font-weight: 100;
	text-decoration: none;
}

.invoiceHeader {
	background-color: #000000;
	box-sizing: border-box;
	color: #ffffff;
	font-size: 10pt;
	margin-top: 25px;
	padding: 10px 25px;
}

.invoiceElement {
	padding: 10px 25px;
	font-size: 12pt;
	border-bottom: 1px #000000 solid;
}

.invoiceElement a {
	color: #000000;
	text-decoration: none;
}

.field-icon {
	float: right;
	margin-left: -35px;
	margin-top: 17px;
	padding-right: 10px;
	position: relative;
	z-index: 2;
}

.notif {
	padding: 10px 20px;
	margin: 5px -20px 15px -20px;
	background-color: #000;
	color: #fff;
}

@media only screen and (min-width: 1075px) {
	#userInteraction {
		position: absolute;
		top: 0;
		left: 0;
		background-color: #333333;
		box-sizing: border-box;
		color: #ffffff;
		min-height: 100%;
		padding: 20px 40px;
		width: calc(100vw / 3);
	}

	#uiContentWrap {
		position: absolute;
		top: 0;
		left: calc(100vw / 3);
		width: calc(100vw / 3 * 2);
		height: calc(100vh - 75px);
	}

	#ui {
		background-color: #333333;
		min-height: 100%;
	}

	#uiContent,
	#tripSumDetails {
		z-index: 100;
		box-sizing: border-box;
		background-color: #ffffff;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 15px 40px;
		width: calc(100vw / 3 * 2);
	}

	#uiContent {
		min-height: 100%;
	}

	#elementDetail {
		z-index: 90;
		position: fixed;
		top: calc(100vh / 12 * 2);
		max-height: calc(100vh / 12 * 8);
		left: calc(100vw / 12 * 2);
		font-size: 12pt;
		width: calc(100vw / 12 * 8);
		background-color: #ffffff;
		padding: 10px 40px;
		border: 1px #c0c0c0 solid;
		overflow: scroll;
	}
}
